.banner{
    background-color: saddlebrown;
    text-align: center;
    padding: 2em;
}
.leftMenu{
    background-color: orange;
    text-align: center;
}

.topMenu{
    background-color: peru;
    text-align: center;
}

.red{
    background-color: red;
    text-align: center;
}

.blue{
    background-color: royalblue;
    text-align: center;
}

.footer{
    background-color: saddlebrown;
    text-align: center;
}

.article{
    border-style: solid;
    border-color: slategrey;
}